html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 a.text-light:hover {
  color: white!important;
  text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
  text-transform: uppercase;
}
td .btn{
  width: 7rem;
}
.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex:1;
}
.image-drop{
  text-align: center;
}
.img-view{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

@media (min-width:768px){
  
  input[type=text], input[type=number] {
   font-size: 1.6rem;
  }
    .navbar .btn {
      flex: 0 1 auto;
    }
}
.acciones {
  margin: 1rem 0;
}
  .acciones{
    margin: 0;
  }

.acciones > *{
  flex: 1;
}
.img-view{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
