html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 a.text-light:hover {
  color: white!important;
  text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
  text-transform: uppercase;
}
.search-bar{
  width: 100%;
}
.search-bar li{
  cursor: pointer;
}
.search-bar .item-list div{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.result-invisible{
  overflow: hidden;
  visibility: hidden;
}
td .btn{
  width: 7rem;
}
.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex:1;
}
input[type="file"]{
 max-width: 100%;
}
.image-drop{
  text-align: center;
}
.img-view{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
button[type="submit"]:disabled{
  background-color:#FFF;
  color: #000;
  border: #ccc 2px solid;
}
button[type="submit"]{
  transition: .3s all ease;
  cursor: pointer;
  background-color:#000;
  color: #FFF;
  border: transparent 2px solid;
}
.cursor-danger{
  cursor:none
}
.acciones {
  margin: 1rem 0;
}
  .acciones{
    margin: 0;
  }

.acciones > *{
  flex: 1;
}
.img-view{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
@media (min-width:768px){
  .search-bar{
    width: 75%;
  }
  input[type=text], input[type=number] {
   font-size: 1.6rem;
  }
    .navbar .btn {
      flex: 0 1 auto;
    }
}

