html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16px !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none !important;
}
h1 a.text-light:hover {
  color: white!important;
  text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
  text-transform: uppercase;
}
.search-bar{
  width: 100%;
}
.fixed{
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 10;
}
.search-bar li{
  cursor: pointer;
}
.search-bar .item-list div{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.result-invisible{
  overflow: hidden;
  visibility: hidden;
}
.table td{
  padding: 1rem !important;
}
.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex:1;
}
.table-responsive{
  position: 'relative' !important;
  overflow: 'auto' !important;
  height: 80vh !important;
}
input[type="file"]{
 max-width: 100%;
}
.image-drop{
  text-align: center;
}
.img-view{
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
.img-view img{
  max-width: 100%;
  max-height: 100%;
}
button[type="submit"]:disabled{
  background-color:#FFDDD2;
  color: #000;
  border: #ccc 2px solid;
}
/* button[type="submit"]{
  transition: .3s all ease;
  cursor: pointer;
  background-color:#000;
  color: #FFF;
  border: transparent 2px solid;
} */
.cursor-danger{
  cursor:none
}
.acciones {
  margin: 1rem 0;
}
  .acciones{
    margin: 0;
  }

.acciones > *{
  flex: 1;
}
.img-view{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.login-img{
  object-fit: cover;
}
.trapecio{
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
}
.format-amount span{
font-size: 12.3px;
}
.format-amount-summary{
  font-size: 3rem;
}
.format-amount-summary .format-amount span{
  font-size: 16px;
}

@media (min-width:768px){
  .search-bar{
    width: 75% !important;
  }
  input[type=text], input[type=number] {
   font-size: 1.6rem;
  }
    .navbar .btn {
      flex: 0 1 auto;
    }
  .trapecio{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .login-img{
    width: 100% !important;
    height: 100vh !important;
  }
}

